* { margin: 0; padding: 0; }

html, body { height: 100%; }

#map {
  width: 100%;
  height: 100%;
}

.leaflet-container {
  background-color: white;
}

#controls {
  position: absolute;
  top: 50px;
  right: 50px;
  background-color: white;
  padding: 15px;
  z-index: 1000;
}

#finishButton {
  margin: 30px;
  display: none;
}

.gameMarker div {
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.startingPoint {

}
