@import "../node_modules/leaflet/dist/leaflet.css";
@import "../node_modules/@kalisio/leaflet-graphicscale/dist/Leaflet.GraphicScale.min.css";

:root{
  --front: blue;
}

* { margin: 0; padding: 0; box-sizing: border-box; }
html, body { height: 100%; }

body {
  font-family: sans-serif;
  font-size: 18px;
}

#dialog {
  position: absolute;
  margin: 15px;
  top: 0;
  right: 0;
  min-width: 400px;
  height: auto;
  border-radius: 3px;
  text-align: center;
  padding: 20px;
  box-shadow: 0 3px 10px gray;
  background-color: white;
  z-index: 1000;
}

#map {
  width: 100%;
  height: 100%;
}

.leaflet-container {
  background-color: white;
}

.gameMarker div {
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom center;
}

.gameMarker:after {
  content: "";
  display: block;
  width: 100%;
  height: 10px;
  background: url(../pictos/tip.svg) bottom center no-repeat;
  background-size: auto;
  position: absolute;
  margin-bottom: -10px;
  bottom: 0;
}

.gameMarker.startingPoint {
  filter: hue-rotate(90deg);
  -webkit-filter: hue-rotate(90deg);
}

.previewPicto {
  display: inline-block;
  height: 80px;
  max-width: 100%;
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
}

.mapBackground {
  transition: opacity 1s ease;
  filter: grayscale(1);
}

.distanceTooltip {
  border: 0;
  box-shadow: none;
  font-size: 20px;
  font-weight: bold;
  color: var(--front);
}

.distanceTooltip:before {
  display: none;
}

.hidden {
  display: none;
}

button {
  background-color: white;
  color: var(--front);
  font-size: 24px;
  padding: 15px;
  border: 2px solid var(--front);
  border-radius: 3px;
  transition: 0.2s all ease;
  margin: 30px 0 15px;
  cursor: pointer;
}

button:hover {
  background-color: silver;
  box-shadow: 0 0 3px 3px silver;
}

#finalScore {
  font-weight: bold;
  font-size: 36px;
}

.leaflet-control-graphicscale {
  font-size: 16px;
}

.leaflet-control-graphicscale .division .line {
  height: 12px;
}
