@import '../node_modules/leaflet/dist/leaflet.css';
@import '../node_modules/@kalisio/leaflet-graphicscale/dist/Leaflet.GraphicScale.min.css';

:root {
  --front: blue;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}

body {
  font-family: sans-serif;
  font-size: 18px;
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#map {
  flex-grow: 1;
  width: 100%;
  height: 100%;
}

#panel {
  flex-basis: 400px;
  padding: 1rem;
  border-top: 1px solid black;
}

@media (min-width: 768px) {
  main {
    flex-direction: row;
  }

  #panel {
    border: 0;
    border-left: 1px solid black;
  }
}

.leaflet-container {
  background-color: white;
}

.gameMarker {
  border: 1px solid;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.gameMarker div {
  height: 75%;
  width: 75%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.gameMarker::after {
  content: '';
  display: block;
  width: 100%;
  height: 10px;
  background: url(../pictos/tip.svg) bottom center no-repeat;
  background-size: auto;
  position: absolute;
  margin-bottom: -10px;
  bottom: 0;
}

.gameMarker.startingPoint div,
.gameMarker.startingPoint:after {
  filter: grayscale(1) contrast(100%);
}

.gameMarker:not(.startingPoint) {
  cursor: grab;
  border-color: blue;
}

.gameMarker.startingPoint {
  cursor: not-allowed;
  border-color: black;
}

.previewPicto {
  display: inline-block;
  height: 80px;
  max-width: 100%;
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
}

.mapBackground {
  transition: opacity 1s ease;
  filter: grayscale(1);
}

.distanceTooltip {
  border: 0;
  background-color: white;
  padding: 3px;
  box-shadow: none;
  font-size: 1rem;
  font-weight: bold;
}

.distanceTooltip .content {
  color: var(--color, --front);
}

.distanceTooltip:before {
  display: none;
}

button {
  background-color: white;
  color: var(--front);
  font-size: 24px;
  padding: 15px;
  border: 2px solid var(--front);
  border-radius: 3px;
  transition: 0.2s all ease;
  margin: 30px 0 15px;
  cursor: pointer;
}

button:hover {
  background-color: silver;
  box-shadow: 0 0 3px 3px silver;
}

#finalScore {
  font-weight: bold;
  font-size: 36px;
}

.leaflet-control-graphicscale {
  font-size: 16px;
}

.leaflet-control-graphicscale .division .line {
  height: 12px;
}

.pointNameTooltip {
  background-color: black;
  border: 0;
  padding: 3px;
  color: white;
}

.pointNameTooltip::before {
  display: none;
}
